<%= render "shared/main_nav" %>

<h1>Default Timer</h1>

<input type="text" id="searchBar">



<p>last solve time: <%= Solve.last.solve_time %></p>
<p>last solve id: <%= Solve.last.id %></p>


<!-- <script>

  var hotKeys = (e) => {
    var windowEvent = window.event ? event : e;
    if (windowEvent.keyCode === 32) {
      var searchBar = document.querySelector('#searchBar');
      searchBar.focus();     
    }
}
document.onkeydown = hotKeys;
</script> -->

<script>
  timing = false;
  const toggleTimer = () => {
    if (timing === false) {
      var start = Date.now;
      timing = true;
    } else {
      var finish = Date.now - start;
      timing = false;
    }
  }
  var timerKeyDown = (e) => {
    var startTimer = window.event ? event : e;
    if (startTimer.keyCode === 32 && timing === true) {
      toggleTimer();
      alert("Timer stopped! time: ${finish}");
    }
  }
  var timerKeyUp = (e) => {
    var stopTimer = window.event ? event : e;
    if (stopTimer.keyCode === 32 && timing === false) {
      toggleTimer();
      alert("Timer started");
    }
  }
document.onkeydown = timerKeyDown
document.onkeyup = timerKeyUp

</script>